node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Chặn file database SQLite (Rất quan trọng)
dev.db
dev.db-journal

# Chặn các file log phát sinh khi chạy server
*.log
